:root {
  --white: hsl(0, 0%, 100%);
  --light-blue: hsl(212, 45%, 89%);
  --dark-blue: hsl(218, 44%, 22%);
  --light-gray: hsl(216, 15%, 48%);
}

body {
  font-family: Outfit;
  font-size: 15px;
  background-color: var(--light-blue);
}

.container {
  background-color: var(--white);
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
}
